/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #242333;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.movieContainer {
    margin: 20px 0;

}

.movieContainer select {
    background-color: #ffffff;
    border: 0;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 14px;
    padding: 5px 15px 15px 5px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.seat {
    background-color: #444451;
    height: 15px;
    width: 15px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.row {
    display: flex;
}

.seat.selected {
    background-color: #6feaf6;
    
}